body
{
	margin: 0;
	font-family: "Roboto";
}

a
{
	text-decoration: none;
}

nav 
{
	background-color: #373C3F;
	height: 15vh;
	padding-left: 40px;
}

nav a
{
	text-transform: uppercase;	
	color: #EBEBEB;
	padding: 15px;
	margin: auto 0;
	vertical-align: middle;
	line-height: 15vh;
	font-size: 1em;
	font-weight: 500;
}

nav a:hover
{
	color: #FFFFFF;
}

header
{
	display: table;
	height: 80vh;
	width: 100%;
	background: linear-gradient(to right, #16B0C3, #0990A9);
}

.header_content
{
	display: table-cell;
	vertical-align: middle;
}

header a
{
	display: inline-block;
	margin-left: 9%;
	width: 70%;
}

header h1
{
	color: #FFFFFF;
	font-weight: 500;
	font-size: 4em;
}

.header_link
{
	color: #ADD6DF;
	font-weight: 500;
	font-size: 2em;
}

.header_link i
{
	float: right;
	color: #FFFFFF;
	font-size: 1.5em;
}

.news
{
	height: 36vh;
}

.section_news_name
{
	background-color: #27212C;
	color: #9282A0;
	font-size: 1.8em;
	font-weight: 400;
	letter-spacing: 0.05em;
	float: left;
	height: 100%;
	width: 71%;
	padding-left: 9%;
	line-height: 36vh;
	vertical-align: middle;
}

.section_news_link
{
	background-color: #BC3183;
	float: right;
	height: 100%;
	width: 20%;
	text-align: center;
	line-height: 36vh;
	vertical-align: middle;
}

.section_news_link i
{
	color: #FFFFFF;
	font-size: 3em;
}

.pictures
{
	display: flex;
}

.section_pictures_link
{
	background-color: #5B0FA1;
	float: left;
	height: auto;
	width: 32%;
	text-align: center;
	line-height: 100%;
	vertical-align: middle;
	position: relative;
}

.section_pictures_link i
{
	color: #FFFFFF;
	font-size: 3em;
	position: absolute;
	top: 45%;
}

.picture_1, .picture_2
{
	width: 34%;
	margin: 0;
}

.picture_1 img
{
	width: 100%;
	height: auto;
	float: left;
}

.picture_2 img
{
	width: 100%;
	height: auto;
	float: right;
}

footer h1
{
	color: #0990A9;
	font-size: 1.8em;
	font-weight: 400;
	padding-top: 5%;
	margin: 0; 
	padding-left: 9%;
}

footer
{
	display: inline-block;
	background-color: #EBEBEB;
	width: 100%;
}

.footer_content
{
	display: flex;
	width: 88%;
	padding-left: 6%;
	padding-right: 6%;
}

.footer_content p
{
	width: 50%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3%;
	padding-bottom: 15%;
	letter-spacing: 0.05em;
	line-height: 1.8;
	color: #515151;
	font-weight: 500;
	margin: 0;
}

@media screen and (max-width: 640px)
{
	.nav_large
	{
		display: none;
	}

	.section_pictures_link,
	.picture_1,
	.picture_2
	{
		width: 100%;
	}
}
