body
{
	margin: 0;
	font-family: "Roboto";
}

a
{
	text-decoration: none;
}

nav 
{
	background-color: #373C3F;
	height: 15vh;
	padding-left: 40px;
}

nav a
{
	text-transform: uppercase;	
	color: #EBEBEB;
	padding: 15px;
	margin: auto 0;
	vertical-align: middle;
	line-height: 15vh;
	font-size: 1em;
	font-weight: 500;
}

nav a:hover
{
	color: #FFFFFF;
}

header
{
	display: table;
	height: 80vh;
	width: 100%;
	background: linear-gradient(to right, #16B0C3, #0990A9);
}

.header_content
{
	display: table-cell;
	vertical-align: middle;
}

header a
{
	display: inline-block;
	margin-left: 9%;
	width: 70%;
}

header h1
{
	color: #FFFFFF;
	font-weight: 500;
	font-size: 4em;
}

.header_link
{
	color: #ADD6DF;
	font-weight: 500;
	font-size: 2em;
}

.header_link i
{
	float: right;
	color: #FFFFFF;
	font-size: 1.5em;
}

.news
{
	height: 36vh;
}

.section_news_name
{
	background-color: #27212C;
	color: #9282A0;
	font-size: 1.8em;
	font-weight: 400;
	letter-spacing: 0.05em;
	float: left;
	height: 100%;
	width: 71%;
	padding-left: 9%;
	line-height: 36vh;
	vertical-align: middle;
}

.section_news_link
{
	background-color: #BC3183;
	float: right;
	height: 100%;
	width: 20%;
	text-align: center;
	line-height: 36vh;
	vertical-align: middle;
}

.section_news_link i
{
	color: #FFFFFF;
	font-size: 3em;
}

.pictures
{
	height: 34vh;
	display: flex;
}

.section_pictures_link
{
	background-color: #5B0FA1;
	float: left;
	height: 100%;
	width: 32%;
	text-align: center;
	line-height: 34vh;
	vertical-align: middle;
}

.section_pictures_link i
{
	color: #FFFFFF;
	font-size: 3em;
}
.picture_1, .picture_2
{
	width: 34%;
	margin: 0;
	overflow: hidden;
}

.picture_1 img
{
	width: 100%;
	height: auto;
	float: left;
}

.picture_2 img
{
	width: 100%;
	height: auto;
	float: right;
}